.tile{
	width: 80px;
	height: 80px;
	font-size: 30px;
	font-family: Helvetica;
}

.gameBoard{
	display: none;
}

.center{
	margin: 0 auto;
}


table {
	border-collapse: collapse;
  }
  table td {
	border: 5px solid black; 
  }
  table tr:first-child td {
	border-top: 0;
  }
  table tr td:first-child {
	border-left: 0;
  }
  table tr:last-child td {
	border-bottom: 0;
  }
  table tr td:last-child {
	border-right: 0;
  }